{% extends "layout.html" %}

{% block title %}Hide my plate{% endblock %}

{% block body %}

<div class="card" style="padding:5px; margin:50px">
    <img src="{{url_for('static', filename='remove.jpg')}}" class="card-img-top" alt="picture">
    <div class="card-body">
        <h5 class="card-title">Hide plate of the car</h5>
        <h6 class="card-subtitle mb-2 text-muted">OCR</h6>
        <br/>
        <!-- API -->
        <p class="card-text">API</p>
        <form enctype="multipart/form-data" action="/api/hide" method="POST">
            <div class="input-group mb-3" style="padding: 10px;">
                <input type="file" class="form-control" id="inputGroupFile02" name="image">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <br/>
            <center>
                <button type="submit" class="btn btn-secondary" value="hide_api">Hide my plate!</button>
            </center>
        </form>
        <br/>

        <!-- Show result -->
        <p class="card-text">Upload image of the car</p>
        <form enctype="multipart/form-data" action="/hide" method="POST">
            <div class="input-group mb-3" style="padding: 10px;">
                <input type="file" class="form-control" id="inputGroupFile02" name="image">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <br/>
            <center>
                <button type="submit" class="btn btn-dark" value="hide">Show result!</button>
            </center>
        </form>
    </div>
</div>

{% endblock %}