<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>hide plates</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{{url_for('static', filename='logo.png')}}" alt="logo" width="54" height="33" class="d-inline-block align-top">
            &nbsp;Hide Plate
          </a>
        </div>
    </nav>

    <div class="card" style="padding:5px; margin:50px">
        <img src="{{url_for('static', filename='remove.jpg')}}" class="card-img-top" alt="picture">
        <div class="card-body">
          <h5 class="card-title">Hide plate of the car</h5>
          <h6 class="card-subtitle mb-2 text-muted">OCR</h6>
          <br/>
          <p class="card-text">Upload image of the car</p>
          <form enctype="multipart/form-data" action="/hide" method="POST">
            <div class="input-group mb-3" style="padding: 10px;">
                <input type="file" class="form-control" id="inputGroupFile02" name="image">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <br/>
            <center>
                <button type="submit" class="btn btn-secondary">Hide my plate!</button>
            </center>
          </form>
        </div>
    </div>

    <!-- Footer -->
    <footer style="background-color: #212529; color: white; padding: 0.5em; ">
        <center>obelouch &copy; 2021</center>
    </footer>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>